* {
 margin: 0;
 padding: 0;
}

body {
 background: url('bg.png') top left no-repeat fixed;
 color: #fff;
 font: 10pt Calibri, sans-serif;
 padding: 35px 30px;
}

abbr.smallcaps {
 font-size: .8em;
}

#navigation {
}
#navigation #logo {
 background: url('logo.png') top left no-repeat;
 display: block;
 height: 37px;
 width: 123px;
 text-indent: -1000em;
}
#navigation ol {
 list-style: none;
 margin-top: 50px;
}
#navigation li, #navigation #settings {
 font-size: 14pt;
 padding-left: 20px;
 width: 190px;
}
#navigation li.selected_nav {
 background: url('selected_nav.png') top left no-repeat;
}
#navigation li.selected_nav a, #navigation #settings.selected_nav {
 color: #000;
}
#navigation li a, #navigation #settings {
 color: #fff;
}
#navigation #settings {
 display: block;
 margin-top: 23px;
}

#content {
 left: 315px;
 position: absolute;
 top: 125px;
 width: 650px;
}
#content #thestuff {
 line-height: 1.77em;
}
#content h1 {
 font-size: 14pt;
 margin-bottom: 1em;
}

#clock {
 height: 100px;
 position: absolute;
 right: 50px;
 top: 10px;
 width: 100px;
}